<!DOCTYPE html>
<html>

<head>
    <Title>404</Title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="header">
        <img class="logo_left" src="../static/images/ujep.png" alt="Logo_ujep">
        <img class="logo" src="../static/images/logo.png" alt="Logo">
        <img class="logo_right" src="../static/images/prf.png" alt="Logo_prf">
    </div>
    <div class="hl_nazev">
        <h1></h1>
        <h2> 404 Not Found </h2>
    </div>
    <img class="logo1" src="../static/images/boat_on_rock_white.png" alt="boatrock">
</body>






</html>