<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hlavní stránka</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // Načti seznam škol po načtení stránky
            $.get('/get_schools', function (data) {
                var schoolsSelect = $('#id_skola');
                schoolsSelect.empty();
                $.each(data, function (index, school) {
                    schoolsSelect.append('<option value="' + school[0] + '">' + school[1] + '</option>');
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // Načti seznam škol po načtení stránky
            $.get('/get_schools', function (data) {
                var schoolsSelect = $('#id_skoly_odstr');
                schoolsSelect.empty();
                $.each(data, function (index, school) {
                    schoolsSelect.append('<option value="' + school[0] + '">' + school[1] + '</option>');
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // Načti seznam učitelů po načtení stránky
            $.get('/get_teachers', function (data) {
                var teachersSelect = $('#id_ucitel_odstr');
                teachersSelect.empty();
                $.each(data, function (index, teacher) {
                    teachersSelect.append('<option value="' + teacher[0] + '">' + teacher[1] + '</option>');
                });
            });
        });
    </script>
</head>

<body>
    <div class="hl_nazev">
        <h1>Administrative</h1>
    </div>
    {% include "nav_menu.html" %}
    <div class="container">
        <div class="administrative">
            <form method="post">
                {% include 'message.html' %}
                <h2> Přidej školu </h2>
                <label for="nazev_skoly">Název školy:</label>
                <input type="text" id="nazev_skoly" name="nazev_skoly" required>
                <br>
                <label for="obec">Obec školy:</label>
                <input type="text" id="obec" name="obec" required>
                <br>
                <input type="submit" value="Potvrdit" name="pridat_skolu">
                <input type="submit" value="Zobrazit" name="zobrazit_skoly">
            </form>


            <form method="post">
                <h2>Přidej učitele</h2>
                <label for="id_skola">Škola:</label>
                <select class="select-box" id="id_skola" name="id_skola" required>
                    <!-- Defaultní hodnota bude vložena pomocí JavaScriptu -->
                </select>
                <br>
                <input type="submit" value="Potvrdit" name="pridat_ucitel">
                <input type="submit" value="Zobrazit" name="zobrazit_ucitele">
            </form>
            
            <form method="post">
                <h2>Odstraň školu</h2>
                <label for="id_skoly_odstr">ID školy:</label>
                <select class="select-box" id="id_skoly_odstr" name="id_skoly_odstr" required>
                    <!-- Defaultní hodnota bude vložena pomocí JavaScriptu -->
                </select>
                <br>
                <input type="submit" value="Potvrdit" name="odstran_skolu">
            </form>
            
            <form method="post">
                <h2>Odstraň učitele</h2>
                <label for="id_ucitel_odstr">ID Učitele:</label>
                <select class="select-box" id="id_ucitel_odstr" name="id_ucitel_odstr" required>
                    <!-- Defaultní hodnota bude vložena pomocí JavaScriptu -->
                </select>
                <br>
                <input type="submit" value="Potvrdit" name="odstran_ucitel">
            </form>
            
            <script>
                // Počkej, dokud se stránka úplně nenaloaduje
                window.addEventListener('load', (event) => {
                    // Funkce pro vložení výchozí hodnoty "Vyberte" do všech selectů
                    function addDefaultOption(selectElement) {
                        var defaultOption = document.createElement('option');
                        defaultOption.text = 'Vyberte';
                        defaultOption.value = '';
                        defaultOption.selected = true;
                        selectElement.add(defaultOption);
                    }
            
                    // Nastavení výchozí hodnoty "Vyberte" do všech selectů
                    var selectElements = document.querySelectorAll('.select-box');
                    selectElements.forEach(function(selectElement) {
                        addDefaultOption(selectElement);
                    });
            
                    // Uložení vybrané hodnoty školy po změně v select elementu
                    selectElements.forEach(function(selectElement) {
                        selectElement.addEventListener('change', function() {
                            var selectedValue = selectElement.value;
                            localStorage.setItem(selectElement.id, selectedValue);
                        });
                    });
            
                    // Načtení uložených hodnot při načtení stránky
                    selectElements.forEach(function(selectElement) {
                        var savedValue = localStorage.getItem(selectElement.id);
                        if (savedValue !== null) {
                            selectElement.value = savedValue;
                        }
                    });
                });
            </script>
        </div>

        {% if schools %}
        <div class="seznam-tabulka">
            <h2 class="seznam-nazev">Seznam škol:</h2>
            <table class="seznam-skol">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Název školy</th>
                    </tr>
                </thead>
                <tbody>
                    {% for school in schools %}
                    <tr>
                        <td>{{ school[0] }}</td>
                        <td>{{ school[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if teachers %}
        <div class="seznam-tabulka">
            <h2 class="seznam-nazev">Seznam Učitelů:</h2>
            <table class="seznam-ucitelu">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Klíč</th>
                        <th>ID Školy</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                    <tr>
                        <td>{{ teacher[0] }}</td>
                        <td>{{ teacher[1] }}</td>
                        <td>{{ teacher[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</body>


</html>