<!-- Html pro zobrazení a odevzdávání úkolu -->
{% extends "template.html" %}
{% block title %}Úkol{% endblock %}
{% block content %}
{% include 'message.html' %}
<h2>{{name}}</h2>
<p>{{description}}</p>
<form method="post" enctype="multipart/form-data">
    <!-- Vložení lokálního souboru -->
    <label class="text_nazev" for="fileInput">Vyberte soubor:</label>
    <input class="input-box" type="file" id="fileInput" name="fileInput" style="margin-left: 170px;">

    <!-- Tlačítko pro odeslání formuláře -->
    <button type="submit" name="potvrdit">Odeslat</button>
</form>
{% endblock %}