{% extends "template.html" %}
{% block title %}Tvorba místnosti{% endblock %}
{% block content %}
    <form method="post">
        <!-- Název úkolu -->
        <label for="taskName">Název místnosti:</label>
        <input type="text" id="roomName" name="roomName" required>

        <!-- Popis úkolu -->
        <label for="taskDescription">Popis místnosti:</label>
        <textarea id="roomDescription" name="roomDescription" rows="3" required></textarea>

        <!-- Tlačítko pro odeslání formuláře -->
        <button type="submit" name="potvrdit">Uložit</button>
        <button type="submit" name="potvrdit">Zrušit</button>
    </form>
{% endblock %}