{% extends "template.html" %}
{% block title %}Tvorba úkolu{% endblock %}
{% block content %}
<form method="post">
    <!-- Název úkolu -->
    <label class="text_nazev" for="taskName">Název úkolu:</label>
    <input class="input-box" type="text" id="taskName" name="taskName" required>

    <!-- Popis úkolu -->
    <label class="text_nazev" for="taskDescription">Popis úkolu:</label>
    <textarea class="input-area" id="taskDescription" name="taskDescription" rows="4" required></textarea>

    <div class="button-line">
        <button type="submit" name="potvrdit">Uložit</button>
        <button type="submit" name="potvrdit">Zrušit</button>
    </div>
</form>
{% endblock %}