{% extends "template.html" %}
{% block title %}Tvorba úkolu{% endblock %}
{% block content %}
<form method="post">
    <!-- Název úkolu -->
    <label for="taskName">Název úkolu:</label>
    <input type="text" id="taskName" name="taskName" required>

    <!-- Popis úkolu -->
    <label for="taskDescription">Popis úkolu:</label>
    <textarea id="taskDescription" name="taskDescription" rows="4" required></textarea>

    <!-- Tlačítko pro odeslání formuláře -->
    <button type="submit" name="potvrdit">Uložit</button>
    <button type="submit" name="potvrdit">Zrušit</button>
</form>
{% endblock %}