{% extends "template.html" %}
{% block title %}Tvorba místnosti{% endblock %}
{% block content %}
    <form method="post">
        <!-- Název úkolu -->
        <label class="text_nazev" for="text_mistnost">Název místnosti:</label>
        <input class="input-box" type="text" id="roomName" name="roomName" required>

        <!-- Popis úkolu -->
        <label class="text_nazev" for="taskDescription">Popis místnosti:</label>
        <textarea class="input-area" id="roomDescription" name="roomDescription" rows="3"  required></textarea>

        <!-- Tlačítko pro odeslání formuláře -->
        <div class="button-line">
            <button type="submit" name="potvrdit">Uložit</button>
            <button type="submit" name="potvrdit">Zrušit</button>
        </div>

    </form>
{% endblock %}