{% extends "template.html" %}
{% block title %} Hlavní stránka {% endblock %}
{% block content %}
<div class="content">
    <form method="post">
        <label class="text_nazev"> Email </label>
        <input class="input-box" id="placeholder_login" type="text" placeholder="Zadej" name="email_student">
        <label class="text_nazev"> Klíč </label>
        <input class="input-box" id="placeholder_login" type="text" placeholder="Zadej" name="klic_student">
        <button type="submit" name="potvrdit">Najít</button>
    </form>
</div>
{% include "message.html" %}
{% endblock %}