{% extends "template.html" %}
{% block title %} Hlavní stránka {% endblock %}
{% block content %}
<div class="content">
    <form method="post">
        <label class="text_nazev"> Klíč studenta </label>
        <input class="input-box" id="placeholder_login" type="text_klic" placeholder="Zadej" name="klic_student">
        <label class="text_nazev"> Místnost </label>
        <input class="input-box" id="placeholder_login" type="text_mistnost" placeholder="Zadej" name="mistnost">
        <button type="submit" name="potvrdit">Najít</button>
    </form>
</div>
{% endblock %}