{% extends "template.html" %}
{% block title %}Zápis studenta{% endblock %}
{% block content %}
{% include 'message.html' %}
<form method="post">
    <!-- Název úkolu -->
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <!-- Popis úkolu -->
    <label for="idSkoly">Id Školy:</label>
    <input type="number" min="0" id="idSkoly" name="idSkoly" required></textarea>

    <!-- Tlačítko pro odeslání formuláře -->
    <button type="submit" name="potvrdit">Odeslat</button>
</form>
{% endblock %}