{% extends "template.html" %}
{% block title %}Místnosti{% endblock %}
{% block content %}
<div class="rooms-container">
    {% for room in rooms %}
    <div class="room">
        <!-- Tlačítko pro přesměrování na danou místnost -->
        <a class="room_button" href="{{ url_for('rooms', room_id=room.id) }}">
            <div class="room-box">
                <div class="room_button_content"><span>Místnost:</span> <h3> {{ room.name }} </h3></div>
            </div>
        </a>
    </div>
    {% if loop.index % 2 == 0 %}
    </div>
    <div class="rooms-container">
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
