{% extends "template.html" %}
{% block title %}Tvorba místnosti{% endblock %}
{% block content %}
    <form action="/test" method="post">
        <label for="selectedUsers">Vyberte uživatele:</label>
        <select id="selectedUsers" name="selectedUsers[]" multiple>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.id }}</option>
            {% endfor %}
        </select>

        <button type="submit">Přidat uživatele do místnosti</button>
    </form>
{% endblock %}
