@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

body {
    margin: 0;
    background-color: #95fff9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 100px;
    /* Adjust height of header */
    background-color: white;
    /* White header background */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo_left {
    width: 220px;
    height: auto;
    padding-left: 5px;
}

.logo {
    width: 240px;
    height: auto;
}

.logo1 {
    width: 800px;
    height: 600px;
    margin-left: 140px;
}


.logo_right {
    width: 220px;
    height: auto;
}

.content {
    margin-top: 150px;
    /* Adjust distance from header */
    width: 100%;
    /* Adjust width of rectangle */
    height: 350px;
    /* Adjust height of rectangle */
    background-color: white;
    /* White rectangle background */
    padding: 20px;
    /*border: 2px solid #333; */
    border-radius: 8px;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#placeholder_login {
    font-family: 'K2D', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

text_klic {
    font-family: 'K2D', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-top: 25px;
}

text_mistnost {
    font-family: 'K2D', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}

input[type="text_klic"] {
    background: #D6D6D6;
    border-radius: 15px;
    border-color: transparent;
}

h2 {
    font-family: 'K2D', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

input[type="text_mistnost"] {
    background: #D6D6D6;
    border-radius: 15px;
    border-color: transparent;
}

button[name="potvrdit"] {
    font-family: 'K2D', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-top: 25px;
    padding: 20px 45px;
    font-size: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #95fff9;
    cursor: pointer;

}

button[name="potvrdit"]:hover {
    background-color: darkcyan;
}

.mess_success {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    /* Zvětšeno o něco více */
    border-radius: 8px;
    background: #8cff66;
    /* Jasnější zelená barva */
    color: #004d00;
    /* Tmavší zelený text */
    font-size: 18px;
    /* Trochu menší font-size */
    font-weight: bold;
    /* Tučné písmo pro důraz */
    border: 2px solid #004d00;
    /* Tmavší ohraničení */
    margin-bottom: 10px;
    /* Malý odstup od ostatních prvků */
}

.mess_error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    /* Zvětšeno o něco více */
    border-radius: 8px;
    background: #ff9999;
    /* Jasnější červená barva */
    color: #660000;
    /* Tmavší červený text */
    font-size: 18px;
    /* Trochu menší font-size */
    font-weight: bold;
    /* Tučné písmo pro důraz */
    border: 2px solid #660000;
    /* Tmavší ohraničení */
    margin-bottom: 10px;
    /* Malý odstup od ostatních prvků */
}

.toggle-input {
    display: none;
}

/* Základní styl pro tlačítka */
.toggle-label {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    display: inline-block;
}

/* Skrytý formulář při výchozím stavu */
.hidden-form {
    display: none;
}

/* Zobrazení formuláře při vybraném vstupním radio prvku */
.toggle-input:checked+.toggle-label+.form-container .hidden-form {
    display: block;
}